doctype html
html
  head
    block url
    title= title
    link(rel='stylesheet', href=baseURL + './stylesheets/general.css')
    link(rel='stylesheet', href=href=baseURL + './stylesheets/navbar.css')
    link(rel='stylesheet', href=baseURL + './stylesheets/footer.css')
    script(src=baseURL + './javascripts/functions.js')
    script(defer, src=baseURL + "./javascripts/footer.js")
    script(defer, src=baseURL + "./javascripts/bodyid.js")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
  body
    include navbar.pug
    block content
    include footer.pug
