-const loggedInPug = loggedIn

script(defer, src=baseURL + "./javascripts/navbar.js")

nav(class="navigation-bar")
  div(class="navigation-bar__container")
    a(class="navigation-bar__button navigation-bar__button--home" href=baseURL + './') Home
    if !loggedInPug
        div(class="navigation-bar__user")
          a(class="navigation-bar__button navigation-bar__button--login" href=baseURL + "users/login") Login
          a(class="navigation-bar__button navigation-bar__button--signup" href=baseURL + "users/signup") Signup  
    if loggedInPug
      div(class="navigation-bar__user")
        a(class="navigation-bar__button navigation-bar__button--profile" href=baseURL + "users/profile") Profile
        a(class="navigation-bar__button" href=baseURL + "users/logout") Sign Out